.App {
  text-align: center;
}

.App-logo {
  height: 70vmin;
  width: 70vmin;
  pointer-events: none;
  border-radius: 50%;
  /* background: linear-gradient(45deg, #61dafb, #21a1f1, #61dafb); */
  /* background-size: 200% 200%;
  animation: App-logo-spin infinite 20s linear, gradiente 5s infinite; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear, piscando 10s infinite;
    /* width: 60vmin;
    height: 100px;
    background-size: 200% 200%;
    background: linear-gradient(45deg, #ff0000, #ff7f00, #ffff00, #ff0000);
    background-clip: padding-box; */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @keyframes gradiente {
  0% {
  background-position: 0% 50%;  
  }
  50% {
    background-position: 100% 50%;  
  }
  100% {
    background-position: 0% 50%;  
  }
} */
